body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2706 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:560px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:272px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2708 {
  position:absolute;
  left:60px;
  top:21px;
  width:262px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  word-wrap:break-word;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2710 {
  position:absolute;
  left:321px;
  top:21px;
  width:263px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:4px;
  width:259px;
  word-wrap:break-word;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2712 {
  position:absolute;
  left:100px;
  top:257px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2713 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2714 {
  position:absolute;
  left:185px;
  top:245px;
  width:236px;
  height:40px;
}
#u2714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:right;
}
#u2714_input {
  font-family:'应用字体';
}
#u2715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2715 {
  position:absolute;
  left:566px;
  top:257px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2716 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2717 {
  position:absolute;
  left:739px;
  top:245px;
  width:152px;
  height:40px;
}
#u2717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2717_input {
  font-family:'应用字体';
}
#u2717_input:disabled {
  color:grayText;
}
#u2718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2718 {
  position:absolute;
  left:126px;
  top:321px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2719 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2720 {
  position:absolute;
  left:185px;
  top:309px;
  width:236px;
  height:40px;
}
#u2720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:right;
}
#u2720_input {
  font-family:'应用字体';
}
#u2721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2721 {
  position:absolute;
  left:544px;
  top:321px;
  width:101px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2722 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2723 {
  position:absolute;
  left:655px;
  top:309px;
  width:236px;
  height:40px;
}
#u2723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:right;
}
#u2723_input {
  font-family:'应用字体';
}
#u2724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2724 {
  position:absolute;
  left:60px;
  top:75px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2725 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2726 {
  position:absolute;
  left:100px;
  top:115px;
  width:620px;
  height:16px;
}
#u2727 {
  position:absolute;
  left:16px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u2726_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2728 {
  position:absolute;
  left:100px;
  top:141px;
  width:620px;
  height:16px;
}
#u2729 {
  position:absolute;
  left:16px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u2728_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2730 {
  position:absolute;
  left:100px;
  top:169px;
  width:620px;
  height:16px;
}
#u2731 {
  position:absolute;
  left:16px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u2730_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2732 {
  position:absolute;
  left:100px;
  top:201px;
  width:620px;
  height:16px;
}
#u2733 {
  position:absolute;
  left:16px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u2732_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2734 {
  position:absolute;
  left:749px;
  top:409px;
  width:142px;
  height:45px;
}
#u2734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u2734_input {
  font-family:'应用字体';
}
#u2735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
}
#u2735 {
  position:absolute;
  left:655px;
  top:421px;
  width:49px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
}
#u2736 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2737 {
  position:absolute;
  left:655px;
  top:245px;
  width:84px;
  height:40px;
}
#u2737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2737_input {
  font-family:'应用字体';
}
#u2737_input:disabled {
  color:grayText;
}
#u2738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2738 {
  position:absolute;
  left:960px;
  top:257px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2739 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2740 {
  position:absolute;
  left:1045px;
  top:245px;
  width:202px;
  height:40px;
}
#u2740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:right;
}
#u2740_input {
  font-family:'应用字体';
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u2741 {
  position:absolute;
  left:1247px;
  top:245px;
  width:35px;
  height:40px;
}
#u2742 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
