body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1083px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1083px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:534px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
