body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  position:absolute;
  left:20px;
  top:20px;
  width:905px;
  height:329px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u72 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u73 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u74 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u75 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u76 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u77 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u78 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u79 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u80 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u81 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u82 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u83 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u84 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u85 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u86 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u87 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u88 {
  position:absolute;
  left:0px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u89 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u90 {
  position:absolute;
  left:100px;
  top:52px;
  width:100px;
  height:84px;
}
#u91 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u92 {
  position:absolute;
  left:200px;
  top:52px;
  width:100px;
  height:84px;
}
#u93 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u94 {
  position:absolute;
  left:300px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u96 {
  position:absolute;
  left:400px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u98 {
  position:absolute;
  left:500px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u99 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u100 {
  position:absolute;
  left:600px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u102 {
  position:absolute;
  left:700px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u103 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u104 {
  position:absolute;
  left:800px;
  top:52px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u105 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u106 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u108 {
  position:absolute;
  left:100px;
  top:136px;
  width:100px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u110 {
  position:absolute;
  left:200px;
  top:136px;
  width:100px;
  height:36px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u112 {
  position:absolute;
  left:300px;
  top:136px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u114 {
  position:absolute;
  left:400px;
  top:136px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u116 {
  position:absolute;
  left:500px;
  top:136px;
  width:100px;
  height:36px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u118 {
  position:absolute;
  left:600px;
  top:136px;
  width:100px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u120 {
  position:absolute;
  left:700px;
  top:136px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u122 {
  position:absolute;
  left:800px;
  top:136px;
  width:100px;
  height:36px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u124 {
  position:absolute;
  left:0px;
  top:172px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u126 {
  position:absolute;
  left:100px;
  top:172px;
  width:100px;
  height:36px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u128 {
  position:absolute;
  left:200px;
  top:172px;
  width:100px;
  height:36px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u130 {
  position:absolute;
  left:300px;
  top:172px;
  width:100px;
  height:36px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u132 {
  position:absolute;
  left:400px;
  top:172px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u134 {
  position:absolute;
  left:500px;
  top:172px;
  width:100px;
  height:36px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u136 {
  position:absolute;
  left:600px;
  top:172px;
  width:100px;
  height:36px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u138 {
  position:absolute;
  left:700px;
  top:172px;
  width:100px;
  height:36px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u140 {
  position:absolute;
  left:800px;
  top:172px;
  width:100px;
  height:36px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u142 {
  position:absolute;
  left:0px;
  top:208px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u144 {
  position:absolute;
  left:100px;
  top:208px;
  width:100px;
  height:20px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u146 {
  position:absolute;
  left:200px;
  top:208px;
  width:100px;
  height:20px;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u148 {
  position:absolute;
  left:300px;
  top:208px;
  width:100px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u150 {
  position:absolute;
  left:400px;
  top:208px;
  width:100px;
  height:20px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u152 {
  position:absolute;
  left:500px;
  top:208px;
  width:100px;
  height:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u154 {
  position:absolute;
  left:600px;
  top:208px;
  width:100px;
  height:20px;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u156 {
  position:absolute;
  left:700px;
  top:208px;
  width:100px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u158 {
  position:absolute;
  left:800px;
  top:208px;
  width:100px;
  height:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u160 {
  position:absolute;
  left:0px;
  top:228px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u162 {
  position:absolute;
  left:100px;
  top:228px;
  width:100px;
  height:36px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u164 {
  position:absolute;
  left:200px;
  top:228px;
  width:100px;
  height:36px;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u166 {
  position:absolute;
  left:300px;
  top:228px;
  width:100px;
  height:36px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u168 {
  position:absolute;
  left:400px;
  top:228px;
  width:100px;
  height:36px;
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u170 {
  position:absolute;
  left:500px;
  top:228px;
  width:100px;
  height:36px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u172 {
  position:absolute;
  left:600px;
  top:228px;
  width:100px;
  height:36px;
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u174 {
  position:absolute;
  left:700px;
  top:228px;
  width:100px;
  height:36px;
}
#u175 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u176 {
  position:absolute;
  left:800px;
  top:228px;
  width:100px;
  height:36px;
}
#u177 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u178 {
  position:absolute;
  left:0px;
  top:264px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u180 {
  position:absolute;
  left:100px;
  top:264px;
  width:100px;
  height:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u182 {
  position:absolute;
  left:200px;
  top:264px;
  width:100px;
  height:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u184 {
  position:absolute;
  left:300px;
  top:264px;
  width:100px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u186 {
  position:absolute;
  left:400px;
  top:264px;
  width:100px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u188 {
  position:absolute;
  left:500px;
  top:264px;
  width:100px;
  height:20px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u190 {
  position:absolute;
  left:600px;
  top:264px;
  width:100px;
  height:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u192 {
  position:absolute;
  left:700px;
  top:264px;
  width:100px;
  height:20px;
}
#u193 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u194 {
  position:absolute;
  left:800px;
  top:264px;
  width:100px;
  height:20px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u196 {
  position:absolute;
  left:0px;
  top:284px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u198 {
  position:absolute;
  left:100px;
  top:284px;
  width:100px;
  height:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u200 {
  position:absolute;
  left:200px;
  top:284px;
  width:100px;
  height:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u202 {
  position:absolute;
  left:300px;
  top:284px;
  width:100px;
  height:20px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u204 {
  position:absolute;
  left:400px;
  top:284px;
  width:100px;
  height:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u206 {
  position:absolute;
  left:500px;
  top:284px;
  width:100px;
  height:20px;
}
#u207 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u208 {
  position:absolute;
  left:600px;
  top:284px;
  width:100px;
  height:20px;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u210 {
  position:absolute;
  left:700px;
  top:284px;
  width:100px;
  height:20px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u212 {
  position:absolute;
  left:800px;
  top:284px;
  width:100px;
  height:20px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u214 {
  position:absolute;
  left:0px;
  top:304px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u216 {
  position:absolute;
  left:100px;
  top:304px;
  width:100px;
  height:20px;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u218 {
  position:absolute;
  left:200px;
  top:304px;
  width:100px;
  height:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u220 {
  position:absolute;
  left:300px;
  top:304px;
  width:100px;
  height:20px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u222 {
  position:absolute;
  left:400px;
  top:304px;
  width:100px;
  height:20px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u224 {
  position:absolute;
  left:500px;
  top:304px;
  width:100px;
  height:20px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u226 {
  position:absolute;
  left:600px;
  top:304px;
  width:100px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u228 {
  position:absolute;
  left:700px;
  top:304px;
  width:100px;
  height:20px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u230 {
  position:absolute;
  left:800px;
  top:304px;
  width:100px;
  height:20px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
