body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1654px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1654px;
  height:2339px;
}
#u2886 {
  position:absolute;
  left:0px;
  top:0px;
  width:1654px;
  height:2339px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u2888 {
  position:absolute;
  left:30px;
  top:208px;
  width:659px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  white-space:nowrap;
}
