body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:591px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:288px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1815 {
  position:absolute;
  left:60px;
  top:21px;
  width:437px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:4px;
  width:433px;
  word-wrap:break-word;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1817 {
  position:absolute;
  left:496px;
  top:21px;
  width:438px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:4px;
  width:434px;
  word-wrap:break-word;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1819 {
  position:absolute;
  left:902px;
  top:90px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1821 {
  position:absolute;
  left:123px;
  top:90px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1823 {
  position:absolute;
  left:199px;
  top:90px;
  width:196px;
  height:16px;
  color:#999999;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1825 {
  position:absolute;
  left:525px;
  top:90px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1827 {
  position:absolute;
  left:588px;
  top:90px;
  width:113px;
  height:16px;
  color:#999999;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1829 {
  position:absolute;
  left:978px;
  top:90px;
  width:236px;
  height:16px;
  color:#999999;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1831 {
  position:absolute;
  left:135px;
  top:116px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1833 {
  position:absolute;
  left:200px;
  top:116px;
  width:131px;
  height:16px;
  color:#999999;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1835 {
  position:absolute;
  left:864px;
  top:122px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1837 {
  position:absolute;
  left:981px;
  top:122px;
  width:36px;
  height:16px;
  color:#999999;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1839 {
  position:absolute;
  left:590px;
  top:147px;
  width:258px;
  height:40px;
}
#u1839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1839_input {
  font-family:'应用字体';
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1840 {
  position:absolute;
  left:514px;
  top:161px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:46px;
}
#u1842 {
  position:absolute;
  left:858px;
  top:144px;
  width:43px;
  height:46px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1844 {
  position:absolute;
  left:48px;
  top:163px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u1846 {
  position:absolute;
  left:195px;
  top:152px;
  width:139px;
  height:40px;
}
#u1846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1846_input {
  font-family:'应用字体';
}
#u1846_input:disabled {
  color:grayText;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1847 {
  position:absolute;
  left:112px;
  top:218px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1849 {
  position:absolute;
  left:194px;
  top:207px;
  width:139px;
  height:40px;
}
#u1849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1849_input {
  font-family:'应用字体';
}
#u1849_input:disabled {
  color:grayText;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1850 {
  position:absolute;
  left:507px;
  top:218px;
  width:75px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1852 {
  position:absolute;
  left:592px;
  top:218px;
  width:33px;
  height:16px;
  color:#999999;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1854 {
  position:absolute;
  left:10px;
  top:268px;
  width:874px;
  height:185px;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1856 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u1857 {
  position:absolute;
  left:52px;
  top:0px;
  width:42px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1858 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1859 {
  position:absolute;
  left:94px;
  top:0px;
  width:88px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1860 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1861 {
  position:absolute;
  left:182px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1862 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1863 {
  position:absolute;
  left:297px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1864 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1865 {
  position:absolute;
  left:412px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1866 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1867 {
  position:absolute;
  left:527px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1868 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1869 {
  position:absolute;
  left:642px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1870 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u1871 {
  position:absolute;
  left:757px;
  top:0px;
  width:112px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1872 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:36px;
  width:52px;
  height:36px;
  text-align:center;
}
#u1874 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u1875 {
  position:absolute;
  left:52px;
  top:36px;
  width:42px;
  height:36px;
  text-align:center;
}
#u1876 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1877 {
  position:absolute;
  left:94px;
  top:36px;
  width:88px;
  height:36px;
  text-align:center;
}
#u1878 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1879 {
  position:absolute;
  left:182px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1880 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1881 {
  position:absolute;
  left:297px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1882 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1883 {
  position:absolute;
  left:412px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1884 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1885 {
  position:absolute;
  left:527px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1886 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1887 {
  position:absolute;
  left:642px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1888 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u1889 {
  position:absolute;
  left:757px;
  top:36px;
  width:112px;
  height:36px;
  text-align:center;
}
#u1890 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:72px;
  width:52px;
  height:36px;
  text-align:center;
}
#u1892 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u1893 {
  position:absolute;
  left:52px;
  top:72px;
  width:42px;
  height:36px;
  text-align:center;
}
#u1894 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1895 {
  position:absolute;
  left:94px;
  top:72px;
  width:88px;
  height:36px;
  text-align:center;
}
#u1896 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1897 {
  position:absolute;
  left:182px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1898 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1899 {
  position:absolute;
  left:297px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1900 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1901 {
  position:absolute;
  left:412px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1902 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1903 {
  position:absolute;
  left:527px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1904 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1905 {
  position:absolute;
  left:642px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1906 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u1907 {
  position:absolute;
  left:757px;
  top:72px;
  width:112px;
  height:36px;
  text-align:center;
}
#u1908 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u1909 {
  position:absolute;
  left:0px;
  top:108px;
  width:52px;
  height:36px;
  text-align:center;
}
#u1910 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u1911 {
  position:absolute;
  left:52px;
  top:108px;
  width:42px;
  height:36px;
  text-align:center;
}
#u1912 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1913 {
  position:absolute;
  left:94px;
  top:108px;
  width:88px;
  height:36px;
  text-align:center;
}
#u1914 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1915 {
  position:absolute;
  left:182px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1916 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1917 {
  position:absolute;
  left:297px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1918 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1919 {
  position:absolute;
  left:412px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1920 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1921 {
  position:absolute;
  left:527px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1922 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1923 {
  position:absolute;
  left:642px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1924 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u1925 {
  position:absolute;
  left:757px;
  top:108px;
  width:112px;
  height:36px;
  text-align:center;
}
#u1926 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:144px;
  width:52px;
  height:36px;
  text-align:center;
}
#u1928 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u1929 {
  position:absolute;
  left:52px;
  top:144px;
  width:42px;
  height:36px;
  text-align:center;
}
#u1930 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1931 {
  position:absolute;
  left:94px;
  top:144px;
  width:88px;
  height:36px;
  text-align:center;
}
#u1932 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1933 {
  position:absolute;
  left:182px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1934 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1935 {
  position:absolute;
  left:297px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1936 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1937 {
  position:absolute;
  left:412px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1938 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1939 {
  position:absolute;
  left:527px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u1941 {
  position:absolute;
  left:642px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u1942 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u1943 {
  position:absolute;
  left:757px;
  top:144px;
  width:112px;
  height:36px;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945 {
  position:absolute;
  left:28px;
  top:315px;
  width:20px;
  height:16px;
}
#u1946 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1947 {
  position:absolute;
  left:28px;
  top:386px;
  width:20px;
  height:16px;
}
#u1948 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1949 {
  position:absolute;
  left:28px;
  top:352px;
  width:20px;
  height:16px;
}
#u1950 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1951 {
  position:absolute;
  left:547px;
  top:380px;
  width:99px;
  height:30px;
}
#u1951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1951_input {
  font-family:'应用字体';
}
#u1952 {
  position:absolute;
  left:547px;
  top:308px;
  width:99px;
  height:30px;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1952_input {
  font-family:'应用字体';
}
#u1953 {
  position:absolute;
  left:547px;
  top:344px;
  width:99px;
  height:30px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1953_input {
  font-family:'应用字体';
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1954 {
  position:absolute;
  left:96px;
  top:465px;
  width:144px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1956 {
  position:absolute;
  left:278px;
  top:465px;
  width:65px;
  height:16px;
  color:#FF0000;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1958 {
  position:absolute;
  left:496px;
  top:465px;
  width:144px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1960 {
  position:absolute;
  left:679px;
  top:465px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1962 {
  position:absolute;
  left:370px;
  top:465px;
  width:14px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1964 {
  position:absolute;
  left:743px;
  top:465px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:311px;
  top:534px;
  width:100px;
  height:25px;
}
#u1966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1966_input {
  font-family:'应用字体';
}
#u1967 {
  position:absolute;
  left:499px;
  top:534px;
  width:100px;
  height:25px;
}
#u1967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1967_input {
  font-family:'应用字体';
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1968 {
  position:absolute;
  left:260px;
  top:218px;
  width:365px;
  height:48px;
  color:#FF0000;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u1970 {
  position:absolute;
  left:60px;
  top:46px;
  width:325px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1972 {
  position:absolute;
  left:28px;
  top:601px;
  width:373px;
  height:16px;
  color:#FF0000;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1974 {
  position:absolute;
  left:31px;
  top:617px;
  width:855px;
  height:16px;
  color:#FF0000;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  white-space:nowrap;
}
