body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:680px;
}
#u873 {
  position:absolute;
  left:2px;
  top:332px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u874 {
  position:absolute;
  left:60px;
  top:21px;
  width:437px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u875 {
  position:absolute;
  left:2px;
  top:4px;
  width:433px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u876 {
  position:absolute;
  left:496px;
  top:21px;
  width:438px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u877 {
  position:absolute;
  left:2px;
  top:4px;
  width:434px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u878 {
  position:absolute;
  left:75px;
  top:414px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:75px;
  top:80px;
  width:273px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:75px;
  top:106px;
  width:627px;
  height:16px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  white-space:nowrap;
}
#u884 {
  position:absolute;
  left:623px;
  top:556px;
  width:142px;
  height:45px;
}
#u884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u884_input {
  font-family:'应用字体';
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:82px;
  top:167px;
  width:150px;
  height:80px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:337px;
  top:167px;
  width:249px;
  height:192px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u889 {
  position:absolute;
  left:75px;
  top:141px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u891 {
  position:absolute;
  left:188px;
  top:198px;
  width:70px;
  height:20px;
  text-decoration:underline;
  color:#0000FF;
}
#u892 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u893 {
  position:absolute;
  left:463px;
  top:195px;
  width:70px;
  height:20px;
  text-decoration:underline;
  color:#0000FF;
}
#u894 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u896 {
  position:absolute;
  left:97px;
  top:450px;
  width:918px;
  height:77px;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
  text-align:center;
}
#u898 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u899 {
  position:absolute;
  left:144px;
  top:0px;
  width:131px;
  height:36px;
  text-align:center;
}
#u900 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u901 {
  position:absolute;
  left:275px;
  top:0px;
  width:114px;
  height:36px;
  text-align:center;
}
#u902 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u903 {
  position:absolute;
  left:389px;
  top:0px;
  width:117px;
  height:36px;
  text-align:center;
}
#u904 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u905 {
  position:absolute;
  left:506px;
  top:0px;
  width:144px;
  height:36px;
  text-align:center;
}
#u906 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u907 {
  position:absolute;
  left:650px;
  top:0px;
  width:144px;
  height:36px;
  text-align:center;
}
#u908 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u909 {
  position:absolute;
  left:794px;
  top:0px;
  width:119px;
  height:36px;
  text-align:center;
}
#u910 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u911 {
  position:absolute;
  left:0px;
  top:36px;
  width:144px;
  height:36px;
  text-align:center;
}
#u912 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u913 {
  position:absolute;
  left:144px;
  top:36px;
  width:131px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u914 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u915 {
  position:absolute;
  left:275px;
  top:36px;
  width:114px;
  height:36px;
  text-align:center;
}
#u916 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u917 {
  position:absolute;
  left:389px;
  top:36px;
  width:117px;
  height:36px;
  text-align:center;
}
#u918 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u919 {
  position:absolute;
  left:506px;
  top:36px;
  width:144px;
  height:36px;
  text-align:center;
}
#u920 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u921 {
  position:absolute;
  left:650px;
  top:36px;
  width:144px;
  height:36px;
  text-align:center;
}
#u922 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u923 {
  position:absolute;
  left:794px;
  top:36px;
  width:119px;
  height:36px;
  text-align:center;
}
#u924 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
