body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:600px;
}
#u3612 {
  position:absolute;
  left:2px;
  top:292px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u3613 {
  position:absolute;
  left:111px;
  top:118px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u3614 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3616 {
  position:absolute;
  left:142px;
  top:144px;
  width:216px;
  height:48px;
  color:#FF0000;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u3618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3618 {
  position:absolute;
  left:433px;
  top:144px;
  width:249px;
  height:64px;
  color:#FF0000;
}
#u3619 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3620 {
  position:absolute;
  left:111px;
  top:377px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3621 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3622 {
  position:absolute;
  left:93px;
  top:79px;
  width:273px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3623 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u3624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u3624 {
  position:absolute;
  left:584px;
  top:174px;
  width:96px;
  height:20px;
  text-decoration:underline;
  color:#0000FF;
}
#u3625 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u3626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u3626 {
  position:absolute;
  left:304px;
  top:174px;
  width:96px;
  height:20px;
  text-decoration:underline;
  color:#0000FF;
}
#u3627 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u3628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3628 {
  position:absolute;
  left:60px;
  top:21px;
  width:262px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3629 {
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  word-wrap:break-word;
}
#u3630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3630 {
  position:absolute;
  left:321px;
  top:21px;
  width:263px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3631 {
  position:absolute;
  left:2px;
  top:4px;
  width:259px;
  word-wrap:break-word;
}
#u3633 {
  position:absolute;
  left:89px;
  top:556px;
  width:535px;
  height:77px;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u3634 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u3635 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u3636 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:36px;
  text-align:center;
}
#u3637 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u3638 {
  position:absolute;
  left:180px;
  top:0px;
  width:114px;
  height:36px;
  text-align:center;
}
#u3639 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u3640 {
  position:absolute;
  left:294px;
  top:0px;
  width:117px;
  height:36px;
  text-align:center;
}
#u3641 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u3642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u3642 {
  position:absolute;
  left:411px;
  top:0px;
  width:119px;
  height:36px;
  text-align:center;
}
#u3643 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u3644 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
  color:#33CC33;
  text-align:center;
}
#u3645 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u3646 {
  position:absolute;
  left:100px;
  top:36px;
  width:80px;
  height:36px;
  color:#0000FF;
  text-align:center;
}
#u3647 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u3648 {
  position:absolute;
  left:180px;
  top:36px;
  width:114px;
  height:36px;
  text-align:center;
}
#u3649 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u3650 {
  position:absolute;
  left:294px;
  top:36px;
  width:117px;
  height:36px;
  text-align:center;
}
#u3651 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u3652 {
  position:absolute;
  left:411px;
  top:36px;
  width:119px;
  height:36px;
  text-align:center;
}
#u3653 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
#u3654 {
  position:absolute;
  left:315px;
  top:638px;
  width:246px;
  height:148px;
  overflow:hidden;
  visibility:hidden;
}
#u3654_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:148px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:147px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3655 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:147px;
}
#u3656 {
  position:absolute;
  left:2px;
  top:66px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3657 {
  position:absolute;
  left:28px;
  top:14px;
  width:169px;
  height:16px;
}
#u3658 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3659 {
  position:absolute;
  left:27px;
  top:81px;
  width:72px;
  height:34px;
}
#u3660 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3661 {
  position:absolute;
  left:125px;
  top:81px;
  width:72px;
  height:34px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3663 {
  position:absolute;
  left:29px;
  top:48px;
  width:57px;
  height:16px;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3665 {
  position:absolute;
  left:99px;
  top:45px;
  width:58px;
  height:22px;
}
#u3665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3665_input {
  font-family:'应用字体';
}
#u3665_input:disabled {
  color:grayText;
}
#u3666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3666 {
  position:absolute;
  left:89px;
  top:635px;
  width:393px;
  height:16px;
  color:#FF0000;
}
#u3667 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u3668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3668 {
  position:absolute;
  left:89px;
  top:654px;
  width:683px;
  height:16px;
  color:#FF0000;
}
#u3669 {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  white-space:nowrap;
}
#u3670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3670 {
  position:absolute;
  left:67px;
  top:451px;
  width:103px;
  height:28px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3671 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u3673 {
  position:absolute;
  left:109px;
  top:415px;
  width:26px;
  height:29px;
}
#u3674 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u3675 {
  position:absolute;
  left:102px;
  top:409px;
  width:39px;
  height:39px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u3678 {
  position:absolute;
  left:361px;
  top:417px;
  width:31px;
  height:29px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u3680 {
  position:absolute;
  left:358px;
  top:411px;
  width:39px;
  height:39px;
}
#u3681 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u3683 {
  position:absolute;
  left:232px;
  top:411px;
  width:39px;
  height:39px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3685 {
  position:absolute;
  left:239px;
  top:418px;
  width:26px;
  height:26px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u3688 {
  position:absolute;
  left:488px;
  top:409px;
  width:39px;
  height:39px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3690 {
  position:absolute;
  left:495px;
  top:416px;
  width:26px;
  height:26px;
}
#u3691 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u3692 {
  position:absolute;
  left:143px;
  top:431px;
  width:87px;
  height:1px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u3694 {
  position:absolute;
  left:273px;
  top:431px;
  width:87px;
  height:1px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u3696 {
  position:absolute;
  left:399px;
  top:431px;
  width:87px;
  height:1px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u3698 {
  position:absolute;
  left:529px;
  top:431px;
  width:87px;
  height:1px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#08BC07;
  text-align:center;
}
#u3700 {
  position:absolute;
  left:82px;
  top:489px;
  width:75px;
  height:30px;
  font-size:16px;
  color:#08BC07;
  text-align:center;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#0066FF;
  text-align:center;
}
#u3702 {
  position:absolute;
  left:227px;
  top:489px;
  width:49px;
  height:30px;
  font-size:16px;
  text-decoration:underline;
  color:#0066FF;
  text-align:center;
}
#u3703 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FF6600;
  text-align:center;
}
#u3704 {
  position:absolute;
  left:358px;
  top:489px;
  width:58px;
  height:30px;
  font-size:16px;
  text-decoration:underline;
  color:#FF6600;
  text-align:center;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u3706 {
  position:absolute;
  left:495px;
  top:489px;
  width:41px;
  height:30px;
  font-size:16px;
  color:#BCBCBC;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3708 {
  position:absolute;
  left:200px;
  top:451px;
  width:103px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3709 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3710 {
  position:absolute;
  left:326px;
  top:451px;
  width:103px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3711 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3712 {
  position:absolute;
  left:456px;
  top:451px;
  width:103px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3713 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u3715 {
  position:absolute;
  left:618px;
  top:411px;
  width:39px;
  height:39px;
}
#u3716 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3717 {
  position:absolute;
  left:625px;
  top:418px;
  width:26px;
  height:26px;
}
#u3718 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u3719 {
  position:absolute;
  left:624px;
  top:489px;
  width:43px;
  height:30px;
  font-size:16px;
  color:#BCBCBC;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3721 {
  position:absolute;
  left:586px;
  top:451px;
  width:103px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u3722 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3725 {
  position:absolute;
  left:412px;
  top:381px;
  width:20px;
  height:16px;
}
#u3726 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u3728 {
  position:absolute;
  left:406px;
  top:377px;
  width:30px;
  height:24px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u3731 {
  position:absolute;
  left:323px;
  top:381px;
  width:20px;
  height:18px;
}
#u3732 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u3733 {
  position:absolute;
  left:317px;
  top:377px;
  width:30px;
  height:24px;
}
#u3734 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3735 {
  position:absolute;
  left:350px;
  top:381px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3736 {
  position:absolute;
  left:0px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3737 {
  position:absolute;
  left:439px;
  top:381px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3738 {
  position:absolute;
  left:0px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u3739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u3740 {
  position:absolute;
  left:497px;
  top:381px;
  width:24px;
  height:18px;
}
#u3741 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u3742 {
  position:absolute;
  left:496px;
  top:377px;
  width:30px;
  height:24px;
}
#u3743 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3744 {
  position:absolute;
  left:524px;
  top:381px;
  width:38px;
  height:17px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3745 {
  position:absolute;
  left:0px;
  top:1px;
  width:38px;
  word-wrap:break-word;
}
#u3746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u3747 {
  position:absolute;
  left:579px;
  top:377px;
  width:30px;
  height:24px;
}
#u3748 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3749 {
  position:absolute;
  left:584px;
  top:381px;
  width:20px;
  height:16px;
}
#u3750 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3751 {
  position:absolute;
  left:613px;
  top:381px;
  width:38px;
  height:17px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3752 {
  position:absolute;
  left:0px;
  top:1px;
  width:38px;
  word-wrap:break-word;
}
#u3753 {
  position:absolute;
  left:270px;
  top:525px;
  width:142px;
  height:45px;
}
#u3753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
}
#u3753_input {
  font-family:'应用字体';
}
